# Конфиденциальные файлы
.env
*.env

# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Директории зависимостей
node_modules/
frontend/node_modules/
backend/target/
target/

# Директории сборки и временные файлы
dist/
dist-ssr/
build/
*.local

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# STS и другие IDE
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Логи и отладочные файлы
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Кэш и временные файлы редакторов
.vscode/
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
